# Server Envs
ENVIRONMENT=example
PORT=example_port
FRONTEND_URL=https://localhost

#POSTGRES ENVS
POSTGRES_HOST=host
POSTGRES_PORT=port
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

#REDIS ENVS
REDIS_HOST=host
REDIS_PORT=port
REDIS_PASSWORD=password

# AUTH ENVS
ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h
